image:
  repository: ogabek0331/foodapi
  tag: "23d14be"
  pullPolicy: IfNotPresent
  imagePullSecrets:
  - name: regcred


service:
  port: 80
  targetPort: 8080

metrics:
  enabled: true
  path: /metrics

ingress:
  enabled: false
  host: foodapi.local
